@import url("https://fonts.googleapis.com/css2?family=Abel&family=Sintony:wght@400;700&display=swap");

body {
  background-color: #454545;
}

#header {
  display: flex;
  text-align: center;
  justify-content: space-around;
  /* border: 2px solid green; */
  background-color: rgb(18, 27, 56);
  color: #868585;
  font-family: "Sintony";
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.25);
}

#container {
  /* border: 2px solid red; */
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

#taskForm {
  /* border: solid 2px green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: #a2a2a2;
  font-family: "Sintony";
  padding: 15px 0;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px; /* Add some spacing between form groups */
}

label {
  margin-right: 10px; /* Space between label and input */
  width: 250px; /* Adjust width to align labels */
}

input {
  flex-grow: 1; /* Allow input to take remaining space */
  width: 300px;
}

.btn {
  padding: 7px 12px;
  font-family: "Sintony";
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  width: 100px;
}

/* .list {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.task-item h3,
.task-item p {
  text-align: left; 
  margin: 0; 
}
.task-item p {
  margin-bottom: 5px; 
}

.task-item .due-date {
  font-weight: bold; 
} */

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  color: #f2f2f2;
  font-family: "Sintony";
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #646363;
  font-weight: bold;
}

table td:last-child {
  text-align: right;
  width: auto;
}

/* Specific column widths */
table th:first-child,
table td:first-child {
  width: 25%; /* Adjust as needed */
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 40%; /* Adjust as needed for description */
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 20%; /* Adjust as needed for due date */
}

table th:last-child,
table td:last-child {
  width: auto; /* Adjust width based on content, usually enough for buttons */
  text-align: right; /* Align action buttons to the right */
}
